.container {
    margin: auto;
    padding: 10px  100px 10px 10px;
}

.question--trivia{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

.question--title {
    font-family: var(--font-karla);
    font-weight: 700;
    font-size: 16px;
}

.question--answers {
    display: flex;
    justify-content:start;
}

.question--option {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    border: 0.794239px solid #4D5B9E;
    border-radius: 8px;
    /* height: 21px; */
    padding:5px 10px;
    margin-right: 5px;
    /*Font*/
    font-family: var(--font-inter);
    font-weight: 500;
    font-size: 0.8em;
    line-height:12px;
}

hr {
    width: 100%;
    border: 0.794239px solid #DBDEF0;
}

.question--chek-answers{
    background-color:#4D5B9E;
    border-radius:10px;
    width:120px;
    height: 35px;
    border: none;
    cursor: pointer;
    margin-top: 20px;

    font-family: var(--font-inter);
    font-weight: 600; 
    font-size: 11px;
    color: #F5F7FB;

}

